@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.main{
    padding-top: 10rem;
}
.logo{
  cursor: pointer;
  color: #d3d4d4;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.btn{
  border : none;
  color : black;
  padding : 1.2rem;
  width : 7rem;
  text-align: left;
  cursor : pointer;
  font-family: 'Playball', cursive;
}