@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Kalam:wght@700&display=swap');
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.bigContainer{    
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.inputcontainer {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
}
.inputLabel{
    font-size: 1.8rem;
    flex: 1;
    text-align: left;
    padding-right: 1rem;
    margin: 0;
}
.inputcontainer.input {
    flex: 1;
    margin: 0;
    display: none;
}
.btnContainer{
    padding-bottom: 2rem;
    border-bottom: 0.5px gray solid;
    display: flex;
    justify-content: center;
}
.btn {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin-bottom: 10px;
}
.btn:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.btn:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}  
.title{
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 2.875rem;
    text-align: center;
    font-family: 'Kalam', cursive;
}
.main{
    padding-bottom: 5rem;
    font-size: 1.85rem;
    text-align: center;
    font-family: 'HakgyoansimWoojuR';
}