@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.logo{
  cursor: pointer;
  color: #d3d4d4;
}
.TopNavbar{
    height: 6rem; 
    width: auto;
    background-color: #262626;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 2rem;
    font-family: 'Playball', cursive;
}
.TopNavbar .btn {
  font-family: 'Playball', cursive;
  font-size: large;
}
.TopNavbar .h1{
  color: #d3d4d4;
}
.h1{
  flex-grow: 0;
}
.btnContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  width: 90%;
  gap: 1.3rem;
}
.btn{
  border : none;
  background-color: #262626;
  color : #d3d4d4;
  padding : 1.2rem;
  width : 12rem;
  text-align: left;
  cursor : pointer;
  display: flex;
  justify-content: center;
}